services:
  ursim:
    image: universalrobots/ursim_e-series:5.25.0
    container_name: ursim
    profiles: ["sim"]
    networks:
      ursim_net:
        ipv4_address: 192.168.56.101
    ports:
      - "6080:6080"
      - "29999:29999"
      - "30001:30001"
      - "30002:30002"
      - "30003:30003"
      - "30004:30004"
    shm_size: "1gb"

  ros_sim:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rs2_ros
    profiles: ["sim"]
    networks:
      ursim_net:
        ipv4_address: 192.168.56.2
    volumes:
      - ../../ros2_ws:/ws:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority:rw
    environment:
      - ROS_DISTRO=humble
      - UR_TYPE=${UR_TYPE}
      - ROBOT_IP=${ROBOT_IP}
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    tty: true
    stdin_open: true

  ros_real:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rs2_ros_real
    profiles: ["real"]
    network_mode: host
    volumes:
      - ../../ros2_ws:/ws:rw
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ${XAUTHORITY:-$HOME/.Xauthority}:/root/.Xauthority:rw
    environment:
      - ROS_DISTRO=humble
      - UR_TYPE=${UR_TYPE}
      - ROBOT_IP=${ROBOT_IP}
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    tty: true
    stdin_open: true

networks:
  ursim_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.56.0/24
          gateway: 192.168.56.1