services:
  ursim:
    image: universalrobots/ursim_e-series:5.25.0
    container_name: ursim
    profiles: ["sim"]   # <-- only runs when using simulation
    networks:
      ursim_net:
        ipv4_address: ${ROBOT_IP}
    ports:
      - "6080:6080"
      - "29999:29999"
      - "30001:30001"
      - "30002:30002"
      - "30003:30003"
      - "30004:30004"
    shm_size: "1gb"

  ros:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rs2_ros
    networks:
      ursim_net: {}
    volumes:
        - ../../ros2_ws:/ws:rw
    environment:
      - ROS_DISTRO=humble
      - ROBOT_IP=${ROBOT_IP}
      - UR_TYPE=${UR_TYPE}
    tty: true
    stdin_open: true

networks:
  ursim_net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.56.0/24